<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav>
        <ul>
            <a href="/" class="navLinks"><li>Home</li></a>
            <a href="https://fasteck-aamusted.web.app/" target="_blank" class="navLinks"><li>About</li></a>
        </ul>
    </nav>

    <button class="learn-more">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <!-- <span href="/login" class="button-text">Continue</span> -->
        <a href="/login" class="button-text">Continue</a>
      </button>
</body>
</html>