<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="https://fasteck-aamusted.web.app/"><li>About</li></a>
        </ul>
    </nav>
</body>
</html>